body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c11612
}

.login-container {
  background-image: url('./images/fondo.jpg');
  background-size: cover; 
  background-position: center; 
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.AdminContainer {
  background-image: url('./images/fondo2.jpg');
  background-size: cover; 
  background-position: center; 
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.logo {
  background-image: url('./images/logo.png');
  background-repeat: no-repeat; 
  background-position: center; 
  padding: 25px;
  border-radius: 5px;
  width: 200px; 
  height: 200px;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 50%;
}

.contenedor {
  background-color: white;
  text-align: center;
  box-shadow: 10px 10px 10px #72b9a9;
  border-radius: 5px;
  width: 50vw;
  max-height: 65vh;
  overflow-y: auto;
  position: absolute;
  z-index: 999; /* Asegura que el contenedor esté en la capa superior */
}

.malla {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}

.columnaIzquierda {
  display: flex;
  justify-content: right;
  text-align: right;
  align-items: center;
  padding: 10px;
}

.columnaDerecha {
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  padding: 10px;
}

.fullscreenCard {
  background-color: white;
  padding: 30px;
  text-align: center;
  width: 100vw;
  height: 83vh;
  overflow-y: auto;
  margin-top: 12vh;
}

.InputContainer{
  align-items: center;
  justify-content: center;
}

.input {
  padding: 5px;
  border-width: 2px 2px 2px 2px;
  border-radius: 50px;
  border-color: #c11612;
  outline: none;
  transition: 0.3s;
}

.input:hover{
  border-color: #72b9a9;
}

.ButtonNav {
  cursor: pointer;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c11612;
  font-size: 15px;
  background-color: rgba(0,0,0,0);
  border-width: 0px 0px 0px 0px;
  margin-bottom: 5px;
}

.ButtonNav:hover {
  font-size: 20px;
  color: #72b9a9;
  transition: 0.3s;
}

.Button {
  cursor: pointer;
  background-color: #72b9a9;
  padding: 10px;
  border-radius: 50px;
  border-color: #72b9a9;
  color: white;
  font-weight: 600;
  font-size: 17px;
  width: 30%;
  transition: 0.3s;
  margin-bottom: 20px;
}

.Button:hover {
    background-color: #c11612;
    color: white;
    width: 40%;
}